#computationsHistory {
    width: 200px;
    background-color: lightgray
}

#currentResultsContainer {
    width: 200px;
    background-color: darkgray;
    padding-right: 5px;
}

#reset {
    height: 25px;
    padding-left: 25px;
    padding-right: 25px;
    margin-bottom: 4px
}

#zero {
    width: 83px;
    padding-left: 25px;
    padding-right: 25px
}

h1 {
    margin-bottom: 10px
}

button {
    margin-bottom: 2px;
    font: 0.8em sans-serif;
}

#calculationsContainer {
    width: 100px
}

.numbers {
    width: 25px;
    height: 25px;
}

.calculations {
    width: 39.5px;
    height: 25px;
}

h2 {
    text-align: right;
    margin: 0px;
    margin-bottom: 5px;
}

h3 {
    margin: 0px;
    margin-bottom: 5px;
    width: 200px
}

#equal {
    width: 83px;
    padding-left: 25px;
    padding-right: 25px;
    height: 25px
}